{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<div style="display: block; width: 30%; margin-left: 30%; padding-top: 160px;">
    <form action="Change" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="hidden" name="oldName" value="{{ albom.name }}">

        <div class="form-outline">
            <input type="text" id="Name" name="name" value="{{ albom.name }}" class="form-control form-control-lg" required/>
            <label class="form-label" for="Name" style="font-weight: bold; ">Name</label>
        </div>

        <div class="form-outline">
            <input type="text" id="genre" name="genre" value="{{ albom.genre }}" class="form-control form-control-lg" required/>
            <label class="form-label" for="genre" style="font-weight: bold; ">Genre</label>
        </div>

        <div class="form-outline">
            <input type="text" id="author" name="author" value="{{ albom.author }}" class="form-control form-control-lg" required/>
            <label class="form-label" for="author" style="font-weight: bold; ">Autor</label>
        </div>

        <div class="form-outline">
            <img src="{{ albom.img }}" width="430" height="450">
            <input type="text" id="avatar" name="avatar" value="{{ albom.img }}" class="form-control form-control-lg" style="margin-top: 30px;"/>
            <label class="form-label" for="avatar" style="font-weight: bold; ">Avatar</label>
        </div>

        <div class="form-outline" style="margin-top: 10px;">
            <textarea name="about" style="width: 100%;">{{albom.about}}</textarea>
            <label class="form-label" for="about" style="font-weight: bold; " >About</label>
        </div>

        <button class="btn btn-outline-success" type="submit" style="background-color: green; color: white;">Change</button>
    </form>
</div>
{% endblock %}